.featured{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    z-index: 1;
}

.featuredItem{
    position: relative;
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
}

.featuredTitles{
    position: absolute;
    bottom: 20px;
    color: white;
left: 20px;
font-family: Arial, Helvetica, sans-serif;

}


.featuredImg{
    width: 100%;
    object-fit: cover;
}